<div class="container-fluid text-center">
    <div class="container-xxl d-none d-md-block">
        <a href="https://forms.gle/iVcq71hxRmGhGC2HA" target="_blank">
            <img src="https://raw.githubusercontent.com/Pais-de-Raiz/imagenes/main/recursos/banner-comunidades.webp" class="img-fluid" alt="...">
        </a>
    </div>
    <div class="container-xxl d-block d-md-none">
        <a href="https://forms.gle/iVcq71hxRmGhGC2HA" target="_blank">
            <img src="https://raw.githubusercontent.com/Pais-de-Raiz/imagenes/main/recursos/banner-comunidades-responsive.webp" class="img-fluid" alt="...">
        </a>
    </div>
</div>