<div class="container-fluid text-center">
    <div class="container-xxl d-none d-md-block">
        <a href="https://forms.gle/iVcq71hxRmGhGC2HA" target="_blank">
            <img src="https://pais-de-raiz.github.io/web/img/banner-comunidades.png" class="img-fluid" alt="...">
        </a>
    </div>
    <div class="container-xxl d-block d-md-none">
        <a href="https://forms.gle/iVcq71hxRmGhGC2HA" target="_blank">
            <img src="https://pais-de-raiz.github.io/webweb/img/banner-comunidades-responsive.png" class="img-fluid" alt="...">
        </a>
    </div>
</div>