<div class="container-fluid" style="background-color:#8EB6AA;margin-top: 30px;">
    <div class="container-xxl">
        <div class="row text-center">
            <h6 style="color:#FEF9E2;margin:30px 30px;">¿CÓMO LO HACEMOS?</h6>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col-3 text-center">
                        <img src="img/number-1.png" class="img-fluid" alt="..." style="margin: auto;">
                    </div>
                    <div class="col-9">
                        <h4>Sensibilizamos</h4>
                        <p>Realizamos un trabajo sensibilización con propósito previo a la experiencia en comunidad.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col-3 text-center">
                        <img src="img/number-2.png" class="img-fluid" alt="..." style="margin: auto;">
                    </div>
                    <div class="col-9">
                        <h4>Conectamos</h4>
                        <p>Conectamos la empresa con la comunidad a la que mayor valor puede aportar</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col-3 text-center">
                        <img src="img/number-3.png" class="img-fluid" alt="..." style="margin: auto;">
                    </div>
                    <div class="col-9">
                        <h4>Transformamos</h4>
                        <p>Llevamos a cabo la experiencia de impacto en territorio, y construimos una relación a largo plazo entre la empresa y la comunidad..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    