<div class="container-fluid">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12 col-md-5 d-flex align-items-center">
                <img src="img/filosofia-img.png" class="img-fluid" alt="...">
            </div>
            <div class="col-12 col-md-7 d-flex align-items-center">
                <div>
                    <h6>NUESTRA FILOSOFÍA</h6>
                    <H1>El cambio a traves del <BR>desarrollo social</H1>
                    <P style="max-width: 600px;" >Conectamos a las empresas con las comunidades por medio de la humanizacion del servicio social y el proposito.</P>
                    <img class="img-fluid" src="https://raw.githubusercontent.com/Pais-de-Raiz/imagenes/main/recursos/filosofia_detalle_1_1.webp" style="max-width: 440px;margin-top:10px;">
                    <br>
                    <img class="img-fluid" src="https://raw.githubusercontent.com/Pais-de-Raiz/imagenes/main/recursos/filosofia_detalle_2_1.webp" style="max-width: 440px;margin-top:10px;">
                    <br>
                    <img class="img-fluid" src="https://raw.githubusercontent.com/Pais-de-Raiz/imagenes/main/recursos/filosofia_detalle_3_1.webp" style="max-width: 440px;margin-top:10px;">
                    <!--
                    <div class="imagen-container"></div>
                    <div class="imagen-container-2"></div>
                    <div class="imagen-container-3"></div>
                    -->
                    <br>
                    <a href="https://pais-de-raiz.github.io/web/nosotros.html">
                        <button class="btn btn-success btn-md" type="submit" style="margin-left: 0px;">¿Quieres saber más de nosotros?</button>
                    </a>
                </div>                        
            </div>
        </div>
    </div>
</div>        
