<div class="container-fluid">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12 col-md-5 d-flex align-items-center">
                <div class="text-center">
                    <img src="img/filosofia-img.webp" class="img-fluid" alt="...">
                    <a href="nosotros.html" class="d-none d-md-block">
                        <button class="btn btn-success btn-md" type="submit" style="margin-top: -100px;">¿Quieres saber más de nosotros?</button>
                    </a>
                </div>
                
                
            </div>
            <div class="col-12 col-md-7 d-flex align-items-center">
                <div>
                    <h6>NUESTRA FILOSOFÍA</h6>
                    <H1>El cambio a través del <BR>desarrollo social</H1>
                    <P style="max-width: 600px;" >Conectamos a las empresas con las comunidades por medio de la humanización del servicio social y el propósito</P>
                    <img class="filosofia-img img-fluid" src="https://raw.githubusercontent.com/Pais-de-Raiz/imagenes/main/recursos/filosofia_detalle_1.webp">
                    <br>
                    <img class="filosofia-img img-fluid" src="https://raw.githubusercontent.com/Pais-de-Raiz/imagenes/main/recursos/filosofia_detalle_2.webp">
                    <br>
                    <img class="filosofia-img img-fluid" src="https://raw.githubusercontent.com/Pais-de-Raiz/imagenes/main/recursos/filosofia_detalle_3.webp">
                    <!--
                    <div class="imagen-container"></div>
                    <div class="imagen-container-2"></div>
                    <div class="imagen-container-3"></div>
                    -->
                    <br>
                    <div class="d-md-none text-center">
                        <a href="nosotros.html">
                            <button class="btn btn-success btn-md" type="submit" style="margin-top: 20px;">¿Quieres saber más de nosotros?</button>
                        </a>
                    </div>
                </div>                        
            </div>
        </div>
    </div>
</div>        
