<div class="footer container-fluid">
  <div class="container-xxl">
    <footer class="pt-5">
      <div class="row">
        <div class="col-12 col-md-2 mb-4">
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><img src="../../img/pr_logo_footer.webp" alt="pr_logo" width="104" height="53"></li>
            <br>
            <!--<li class="nav-item mb-2"><p href="#" class="nav-link p-0 text-muted">Empodera a tus equipos para que construyan y desarrollen ideas desde cada una de sus áreas.</p></li>-->
            <br>
            <li class="nav-item mb-2">
                <div class="circle-background">
                    <a href="https://www.instagram.com/paisderaiz/?hl=es" target="_blank">
                      <img src="../../img/instagram.svg" alt="instagram-logo">
                    </a>
                </div>
                <div class="circle-background">
                    <a href="https://www.facebook.com/people/Pa%C3%ADs-de-Ra%C3%ADz/100083278415825/" target="_blank">
                      <img src="../../img/facebook.svg" alt="facebook-logo">
                    </a>
                </div>
                <div class="circle-background">
                    <a href="https://www.linkedin.com/company/pa%C3%ADs-de-ra%C3%ADz/" target="_blank">
                      <img src="../../img/Linkedin.svg" alt="linkedin-logo">
                    </a>
                </div>
            </li>
          </ul>
        </div>
  
        <div class="col-12 col-md-2 mb-3">
          <h5>Contácto</h5>
          <ul class="nav flex-column">
            <br>
            <li class="nav-item mb-2">Carrera 13 #93-35</li>
            <li class="nav-item mb-2">Bogotá D.C., Colombia</li>
            <br>
            <li class="nav-item mb-2">Tel: 324 215 5389</li>
            <li class="nav-item mb-2">info@paisderaiz.com</li>
            <li class="nav-item mb-2">www.paisderaiz.com</li>
          </ul>
        </div>

        <div class="col-12 col-md-3 mb-3">
          <h5>Documentos</h5>
          <ul class="nav flex-column">
            <br>
            <li class="nav-item mb-2">
              <a href="https://drive.google.com/file/d/180w54bAya2HpmI81c4d8C4fXM1dYqMmW/view?usp=sharing" target="_blank">RUT - Fundación País de Raíz</a>
            </li>
            <li class="nav-item mb-2">
              <a href="https://drive.google.com/file/d/1ZxIPnhFpypuPHUIz9QtDwH8rUH8wWBr5/view?usp=sharing" target="_blank">Libro de Fundadores</a>
            </li>
            <li class="nav-item mb-2">
              <a href="https://drive.google.com/file/d/1xFSvN-BUQA2Jug2nUJBEOIU5B_BPov46/view?usp=sharing" target="_blank">Libro de Fundadores firma</a>
            </li>
            <li class="nav-item mb-2">
              <a href="https://drive.google.com/file/d/1ZtImD3dDp61Z9D2N-2TjdsjVRwE7QKvO/view?usp=sharing" target="_blank">Certificado de existencia</a>
            </li>
          </ul>
        </div>

        <div class="col-md-5 mb-3">
          <form>
            <h5>Queremos conocerte</h5>
            <p>Deja tus datos y nos pondremos en contacto contigo.</p>
            <div class="container">
              <div class="row d-flex flex-column flex-sm-row w-100 gap-2">
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" required>
                <input type="email" class="form-control" id="correo" placeholder="Correo electrónico" required>
                <input type="tel" class="form-control" id="telefono" placeholder="Número de contácto"required>
                <textarea id="mensaje" class="form-control"  rows="2" placeholder="Dejanos un mensaje..."></textarea>
                <button class="btn btn-primary" type="button" id="enviarBtn">Enviar</button>
              </div>
            </div>
          </form>
        </div>

        
      <!--MODAL FORMULARIO-->
      <div class="modal modal-formulario fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="successModalLabel" style="color:#486656;">¡Formulario enviado exitosamente!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color:#98C79B; border-radius: 3px;"></button>
            </div>
            <div class="modal-body">
              Gracias por tu mensaje. Nos pondremos en contacto contigo pronto.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="background-color:#98C79B;border-radius: 3px;">Cerrar</button>
            </div>
          </div>
        </div>
    </div>

      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 mt-4 border-top">
        <p>&copy; 2022 País De Raíz ©. Todos los derechos reservados.  -  <a href="https://drive.google.com/file/d/1ryD9lPL1oKACrQgnMJS2NSYnoannwLyN/view?usp=sharing" target="_blank">Términos y condiciones</a>   -   <a href="https://drive.google.com/file/d/1MX42luG4FAfvWq8cr741nF-VDYoctxCb/view?usp=sharing" target="_blank"> Política de privacidad </a></p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
        </ul>
      </div>
</footer>
