<div class="footer container-fluid">
  <div class="container-xxl">
    <footer class="pt-5">
      <div class="row">
        <div class="col-6 col-md-3 mb-4">
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><img src="https://pais-de-raiz.github.io/web/img/pr_logo_footer.webp" alt="pr_logo" width="104" height="53"></li>
            <br>
            <!--<li class="nav-item mb-2"><p href="#" class="nav-link p-0 text-muted">Empodera a tus equipos para que construyan y desarrollen ideas desde cada una de sus áreas.</p></li>-->
            <br>
            <li class="nav-item mb-2">
                <div class="circle-background">
                    <a href="https://www.instagram.com/paisderaiz/?hl=es" target="_blank">
                      <img src="https://pais-de-raiz.github.io/web/img/instagram.svg" alt="instagram-logo">
                    </a>
                </div>
                <div class="circle-background">
                    <a href="https://www.facebook.com/people/Pa%C3%ADs-de-Ra%C3%ADz/100083278415825/" target="_blank">
                      <img src="https://pais-de-raiz.github.io/web/img/facebook.svg" alt="facebook-logo">
                    </a>
                </div>
                <div class="circle-background">
                    <a href="https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fpa%25C3%25ADs-de-ra%25C3%25ADz%2Fabout%2F">
                      <img src="https://pais-de-raiz.github.io/web/img/Linkedin.svg" alt="linkedin-logo">
                    </a>
                </div>
            </li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>Contácto</h5>
          <ul class="nav flex-column">
            <br>
            <li class="nav-item mb-2">Carrera 13 #93-35</li>
            <li class="nav-item mb-2">Bogotá D.C., Colombia</li>
            <br>
            <li class="nav-item mb-2">Tel: 324 388 3655</li>
            <li class="nav-item mb-2">info@paisderaiz.com</li>
            <li class="nav-item mb-2">www.paisderaiz.com</li>
          </ul>
        </div>
  
        <div class="col-md-5 offset-md-1 mb-3">
          <form class="pl-10">
            <h5>Queremos conocerte</h5>
            <p>Deja tus datos y nos pondremos en contacto contigo.</p>
            <div class="">
              <div class="row d-flex flex-column flex-sm-row w-100 gap-2">
                <input id="newsletter1" type="text" class="form-control" placeholder="Nombre">
                <input id="newsletter1" type="text" class="form-control" placeholder="Correo electrónico">
                <input id="newsletter1" type="text" class="form-control" placeholder="Número de contácto">
                <input id="newsletter1" type="text" class="form-control" placeholder="Dejanos un mensaje">
                <button class="btn btn-primary" type="button">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 mt-4 border-top">
        <p>&copy; 2022 País De Raíz ©. Todos los derechos reservados.  -  <a href="https://www.paisderaiz.com/_files/ugd/754326_27164d338eb64eac982db1fe0128d182.pdf" target="_blank">Términos y condiciones</a>   -   <a href="https://www.paisderaiz.com/_files/ugd/754326_dafde1a27e704988a04e6e9511e7f73d.pdf" target="_blank"> Política de privacidad </a></p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
        </ul>
      </div>
    </footer>

  </div>

</div>