<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-xxl">
      <a class="navbar-brand" href="https://pais-de-raiz.github.io/home/index.html">
        <img src="https://pais-de-raiz.github.io/home/img/pr_logo_nav.webp" alt="pr_logo" width="104" height="53">
      </a>
      <button class="custom-toggler navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="https://pais-de-raiz.github.io/home/index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://pais-de-raiz.github.io/home/servicios.html">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://pais-de-raiz.github.io/home/nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://pais-de-raiz.github.io/home/comunidades-aliadas.html">Comunidades aliadas</a>
          </li>
        </ul>
        <a href="https://meetings.hubspot.com/direccioncomercial13" target="_blank">
          <button class="btn btn-outline-secondary btn-md" type="submit">Contáctanos</button>
        </a>
        
      </div>
    </div>
</nav>