<div class="container-fluid" style="background-color:#98C79B;padding:10px 0px 0px 0px;">
    <div class="container-xxl">
        <div class="row" style="margin: 0px 0px;">
            <div class="d-none d-lg-block col-lg-5 col-xl-6">
                <img class="img-fluid quote-img2" src="img/quote_img2.webp">
            </div>
            <div class="col-12 col-lg-6">
                <br>
                <h6 style="color:#ffffff;">TESTIMONIOS</h6>
                <H1 style="color:#FEF9E2">Nosotros vivimos en el poder de la comunidad.</H1>
                <div class="card">
                    <div class="quote card-body row">
                        <div class="col-2">
                            <img src="img/quote-img.png">
                        </div>
                        <div class="col-10">
                            <p class="card-text">Un gusto trabajar de la mano con ustedes, esperamos sigan haciendo realidad sus propósitos de vida siendo puente en la vida de los demás.
                            </p>
                            <h5 class="card-title">Taller de Voluntariado Corporativo</h5>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>