<div class="container-fluid">
    <div class="container-xxl">
        <h6 class="mb2">QUIENES HAN CREÍDO EN NUESTRO TALENTO</h6>
    </div>
    <div class="slider2">
        <div class="slide-track2">
            <div class="slide2" style="margin-left:0px">
                <img src="img/rosario_logo.webp" style="padding:0 5% 0 5%;width: 70%!important;margin: auto!important;height: auto!important;" height="50" width="200" alt="" />
            </div>
            <div class="slide2" style="margin-left:0px">
                <img src="img/efecty_logo.webp" style="padding:0 5% 0 5%;width: 70%!important;margin: auto!important;height: auto!important;" height="50" width="200" alt="" />
            </div>
            <div class="slide2" style="margin-left:0px">
                <img src="img/bancolombia_logo.webp" style="padding:0 5% 0 5%;width: 70%!important;margin: auto!important;height: auto!important;" height="50" width="200" alt="" />
            </div>
            <div class="slide2" style="margin-left:0px">
                <img src="img/santotomas_logo.webp" style="padding:0 5% 0 5%;width: 70%!important;margin: auto!important;height: auto!important;" height="50" width="200" alt="" />
            </div>
            <div class="slide2" style="margin-left:0px">
                <img src="img/airfrance_logo.webp" style="padding:0 5% 0 5%;width: 70%!important;margin: auto!important;height: auto!important;" height="50" width="200" alt="" />
            </div>
            <div class="slide2" style="margin-left:0px">
                <img src="img/acrip_logo.webp" style="padding:0 5% 0 5%;width: 70%!important;margin: auto!important;height: auto!important;" height="50" width="200" alt="" />
            </div>
            <div class="slide2" style="margin-left:0px">
                <img src="img/appen_logo.webp" style="padding:0 5% 0 5%;width: 70%!important;margin: auto!important;height: auto!important;" height="50" width="200" alt="" />
            </div>
            <div class="slide2" style="margin-left:0px">
                <img src="img/betterfly_logo.webp" style="padding:0 5% 0 5%;width: 70%!important;margin: auto!important;height: auto!important;" height="50" width="200" alt="" />
            </div>
            <div class="slide2" style="margin-left:0px">
                <img src="img/biznation_logo.webp" style="padding:0 5% 0 5%;width: 70%!important;margin: auto!important;height: auto!important;" height="50" width="200" alt="" />
            </div>
            <div class="slide2" style="margin-left:0px">
                <img src="img/codiversity_logo.webp" style="padding:0 5% 0 5%;width: 70%!important;margin: auto!important;height: auto!important;" height="50" width="200" alt="" />
            </div>
            <div class="slide2" style="margin-left:0px">
                <img src="img/exito_logo.webp" style="padding:0 5% 0 5%;width: 70%!important;margin: auto!important;height: auto!important;" height="50" width="200" alt="" />
            </div>
            <div class="slide2" style="margin-left:0px">
                <img src="img/serautos_logo.webp" style="padding:0 5% 0 5%;width: 70%!important;margin: auto!important;height: auto!important;" height="50" width="200" alt="" />
            </div>
            <div class="slide2" style="margin-left:0px">
                <img src="img/soletanche_logo.webp" style="padding:0 5% 0 5%;width: 70%!important;margin: auto!important;height: auto!important;" height="50" width="200" alt="" />
            </div>
            <div class="slide2" style="margin-left:0px">
                <img src="img/teamup_logo.webp" style="padding:0 5% 0 5%;width: 70%!important;margin: auto!important;height: auto!important;" height="50" width="200" alt="" />
            </div>
            <div class="slide2" style="margin-left:0px">
                <img src="img/tigo_logo.webp" style="padding:0 5% 0 5%;width: 70%!important;margin: auto!important;height: auto!important;" height="50" width="200" alt="" />
            </div>
    </div>
</div>     